.editButton {
    margin-right : 100;
    align-items : center;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    margin-left : 100;
}

.title .h2{
    font-weight: 500;
    color: darkslategray;
    background-color:yellow
}

.middleForm {
    margin: 0 auto;
    width: 70%;
}

.aboutMe {
    margin: 0 auto;
    width: 70%;
    display : flex;
}

#aboutMeImg {
  border-radius: 5px;
  padding: 20px;
  width: 60%;
  height: 60%;
}

.postContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: 15em;
  grid-column-gap: 1em;
}